services:
  postgres:
    image: postgres:18-alpine
    container_name: credit-postgres-dev
    environment:
      POSTGRES_DB: linux_do_credit
      POSTGRES_USER: postgres_user
      POSTGRES_PASSWORD: postgres_pwd
    networks:
      - credit-dev-network
    # default port is 5432
    # ports:
    #   - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8-alpine
    container_name: credit-redis-dev
    environment:
      REDIS_PASSWORD: redis_pwd
    networks:
      - credit-dev-network
    # default port is 6379
    # ports:
    #   - "6379:6379"
    command: /bin/sh -c "redis-server --requirepass $$REDIS_PASSWORD --appendonly yes"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  tools:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: credit-tools-dev
    networks:
      - credit-dev-network
    ports:
      - "5000:5000"

  backend:
    image: golang:latest
    container_name: credit-backend-dev
    working_dir: /app
    command: ["sh", "-c", "go mod tidy && go run main.go api"]
    environment:
      CONFIG_PATH: /app/develop/config.yaml
    networks:
      - credit-dev-network
    # ports:
    #   - "8000:8000"
    volumes:
      - backend_code:/app
      - go-build-cache:/go/pkg/mod
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health"]
      interval: 5s
      timeout: 3s
      retries: 60

  frontend:
    image: node:22
    container_name: credit-frontend-dev
    working_dir: /app/frontend
    command: ["sh", "-c", "corepack enable pnpm && pnpm install && pnpm dev --hostname 0.0.0.0 --port 3000"]
    environment:
      NEXT_PUBLIC_LINUX_DO_CREDIT_BACKEND_URL: http://localhost:8080
      LINUX_DO_CREDIT_BACKEND_URL: http://localhost:8080
      LINUX_DO_CREDIT_SESSION_COOKIE_NAME: linux_do_credit_session_id
      LINUX_DO_CREDIT_FRONTEND_URL: http://localhost:8080
      CHOKIDAR_USEPOLLING: "true"
      CI: "true"
    networks:
      - credit-dev-network
    # ports:
    #   - "3000:3000"
    volumes:
      - frontend_code:/app/frontend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 5s
      timeout: 3s
      retries: 60

  nginx:
    image: nginx:latest
    container_name: credit-nginx-dev
    networks:
      - credit-dev-network
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      backend:
        condition: service_healthy
      frontend:
        condition: service_healthy

volumes:
  # replace the paths with your actual local paths
  frontend_code:
    driver: local
    driver_opts:
      type: none
      device: ../credit/frontend
      o: bind
  backend_code:
    driver: local
    driver_opts:
      type: none
      device: ../credit
      o: bind
  postgres-data:
  redis-data:
  go-build-cache:

networks:
  credit-dev-network:
    driver: bridge
